<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button title="Rafraichir">
        <fa-icon [icon]="faRotateRight"></fa-icon>
      </button>
      <a routerLink="add" class="button" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <button title="Supprimer">
        <fa-icon [icon]="faTrashCan"></fa-icon>
      </button>
    </nav>
    <div class="error">
      <table>
        <thead>
          <tr>
            <th class="name">Nom</th>
            <th class="price">Prix</th>
            <th class="qty">Quantité</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="name">Tournevis</td>
            <td class="price">1.99€</td>
            <td class="qty">120</td>
          </tr>
          <tr>
            <td class="name">Rateau</td>
            <td class="price">5.99€</td>
            <td class="qty">10</td>
          </tr>
          <tr>
            <td class="name">Visseuse</td>
            <td class="price">102.99€</td>
            <td class="qty">12</td>
          </tr>
          <tr>
            <td class="name">Marteau</td>
            <td class="price">21.99€</td>
            <td class="qty">40</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
