<main>
  <h1>Mentions légales</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem quisquam
    sit assumenda. Quia amet odio quos harum aliquam illum magnam nemo tempore
    fugit. Error, rem! Inventore et aliquid voluptatem aut.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
    doloribus?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque doloribus
    cupiditate nobis eum sequi fuga qui exercitationem reiciendis quidem.
    Laudantium quod totam quae iure dolorum saepe sunt reiciendis, nobis
    deleniti quos repudiandae rerum ullam nemo quas impedit numquam adipisci
    suscipit. Deserunt mollitia omnis asperiores fugiat magni hic quas
    cupiditate laudantium consequuntur, impedit harum inventore rem molestias
    sed! Velit, unde impedit omnis harum quia cupiditate minus expedita ullam
    inventore voluptates. Facilis veritatis quod dignissimos eligendi
    perferendis maiores veniam vero esse quo a, deleniti impedit ex numquam
    laborum nemo nulla dolore maxime perspiciatis aliquid voluptatem tempore
    autem sit qui natus? Tempore, deleniti.
  </p>
</main>
